{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1>Mon Panier</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in panier.produits %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }} €</td>
                    <td>
                        <a href="{{ path('panier_supprimer', { id: produit.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('produit_catalogue') }}">Retour au Catalogue</a>
{% endblock %}
