{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow-sm">
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                                <a href="{{ path('app_logout') }}" class="btn btn-link">Déconnexion</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-4 font-weight-normal text-center">Connectez-vous</h1>

                        <form method="post">
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-check mb-3">
                                <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Rester connecté</label>
                            </div>

                            <button class="btn btn-lg btn-primary w-100" type="submit">Connectez-vous</button>
                        </form>

                        <div class="mt-3 text-center">
                            <button type="button" onclick="window.location.href='{{ path('app_register') }}'" class="btn btn-link">Pas de compte ? Inscrivez-vous ici !</button>
                            <button type="button" onclick="window.location.href='{{ path('app_user') }}'" class="btn btn-link">Retour à l'accueil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
