{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Inscription</h1>

        <div class="card p-4 shadow-sm">
            <div class="card-body">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.prenom, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.nom, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword, {
                            'label': 'Mot de passe',
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.agreeTerms, {
                            'attr': {'class': 'form-check-input'}
                        }) }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
                {{ form_end(registrationForm) }}

                <div class="mt-3 text-center">
                    <button type="button" onclick="window.location.href='{{ path('app_login') }}'" class="btn btn-link">Déjà inscrit ? Connectez-vous ici !</button>
                    <button type="button" onclick="window.location.href='{{ path('app_user') }}'" class="btn btn-link">Retour à l'accueil</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
