{% extends 'base.html.twig' %}

{% block title %}Détails de la Commande{% endblock %}

{% block body %}
    <h1>Détails de la Commande #{{ commande.id }}</h1>
    
    <p><strong>Date :</strong> {{ commande.dateCommande|date('d/m/Y H:i') }}</p>
    <p><strong>Total :</strong> {{ commande.totalCommande }} €</p>
    <p><strong>État :</strong> {{ commande.etatCommande }}</p>

    <h2>Produits</h2>
    <ul>
        {% for details in commande.detailsCommande %}
            <li>
                {{ details.produit.nom }} - {{ details.quantite }} x {{ details.prixUnitaire }} €
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_commande') }}">Retour à la liste des commandes</a>
{% endblock %}
