{% extends 'base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
    <h1>Mes Commandes</h1>
    
    {% if commandes is empty %}
        <p>Vous n'avez pas encore passé de commande.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.dateCommande|date('d/m/Y H:i') }}</td>
                        <td>{{ commande.totalCommande }} €</td>
                        <td>{{ commande.etatCommande }}</td>
                        <td>
                            <a href="{{ path('app_commande_details', {id: commande.id}) }}">Voir détails</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
                <button type="button" onclick="window.location.href='{{ path('admin_acceuil') }}'" class="btn btn-secondary">Accueil</button>
            {% elseif is_granted('ROLE_CLIENT') %}
                <button type="button" onclick="window.location.href='{{ path('client_acceuil') }}'" class="btn btn-secondary">Accueil Client</button>
                <button type="button" onclick="window.location.href='{{ path('panier') }}'" class="btn btn-secondary">Voir le Panier</button>
            {% endif %}

    {% endif %}
{% endblock %}
